  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  }

  :root {
  /* principais cores */
  --red: #E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F; 
  --yellow:#EABD5F; 

  /*cores da base */
  --gray-100:#0D0E11; 
  --gray-200:#16181D; 
  --gray-300:#292C34;
  --gray-400:#878EA1; 
  --gray-500:#C0C4CE; 
  --gray-600:#E2E4E9;

  --font-family-Asap: 'Asap', sans-serif;
  --font-family-Inconsolata: 'Inconsolata', sans-serif;
  --font-family-Maven-Pro: 'Maven+Pro', sans-serif;

  --title-lg: 700 56px/120% var(--font-family-Asap);
  --title-md: 600 24px/120% var(--font-family-Asap);
  --title-sm: 500 14px/120% var(--font-family-Asap);
  --title-tx: 300 12px/120% var(--font-family-Asap);

  --subtitle: 300 20px/120% var(--font-family-Inconsolata);

  --text-md: 300 16px/140% var(--font-family-Maven-Pro);
  --text-sm: 500 14px/140% var(--font-family-Asap);
  --text-sm2: 50 13px/100% var(--font-family-Maven-Pro);
  }

  a {
  text-decoration: none;  
  color: white;
   }  

    h1 {
  font: var(--title-lg);  
  }
  h2 {
  font: var(--title-md);  
  }
  h3 {
  font: var(--title-sm);  
  }

  h6 {
   font: var(--title-sm);   
  }

  h4, h5 {
    font: var(--text-md); 
  }