/* classes de utilidade - colocar no arquivo HTML a referência, 
ex: <nav class-"grid grid-flow-col">, isso fara om que os objetos em grid que estavam um abaixo do outro fiquem em linha horizontal se tivermos aqui o comando = .grid-flow-col {
                  grid-auto-flow: column;}  */

.grid {
  display: grid
}

.grid-flow-col {
  grid-auto-flow: column; 
}

.container {
   display: flex;   
   justify-content: center;
   align-items: center;
   background-image: url(../Assets/Imagens/Background_Intro.png);
    width: 1340px;
    height: 750px;
    border-radius: 15px;
    position: relative;    
}

  .avatar{  
    width: 87px;
    height: 87px;   
    margin-bottom:450px;
    margin-right: 33px;
    position: absolute;
  } 

  .hello {
  font: var(--title-sm);
  margin-bottom: 240px;
  position: absolute;
  text-decoration-line: overline;
}

.desenvolvedor{
  font: var(--title-lg);
  color: rgb(20, 102, 255);
  margin-bottom: 150px;
  position: absolute;
}

.textfinal1{
  font: var(--title-tx);
  color: rgb(209, 217, 248);
  margin-bottom: 60px;
  position: absolute;
}

.textfinal2{
  font: var(--title-tx);
  color: rgb(221, 226, 247);
  margin-bottom: 25px;
  position: absolute;
}

.container2 {
  display: flex;
  margin-top: 350px;
  flex-direction:row;   
  }

  .container2 > div{  
  justify-content: center;
  align-items: center;
  gap: 16px;   
  margin: 6px;
  background-color: var(--gray-300);
  }

  
